@media only screen and (min-width: 37.5em) {


    #filter{
        max-width:100%;
        overflow-x: hidden;
        
    }
    #filterIcons {
        width:100%;

    }
    #filterIcons p{
        padding:10px;
        background-color: var(--accent-color-3);
        border-style: solid;
        border-radius: 20px;
        max-width:100%;
        margin:1%
    }

}