
:root {
    --main-bg-color: #CDB4DB;
    --accent-color-1: #FFC8DD;
    --accent-color-2: #FFAFCC;
    --accent-color-3: #BDE0FE;
  }

  body {
    margin:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--main-bg-color);;
    text-align: center;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header, footer{
    background-color: black;
    color:white;
    padding: 10px;
    text-align: center;
    max-width: 100%;
}
#productlist{
    margin: auto;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap:.5em;
    padding:2%;
    /* display: flex;
  flex-wrap: wrap;
  flex: 1 0 100px; */

}
.productCard{
    background-color: var(--accent-color-2);
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productCard img{
    height:300px;
    width:300px;
    max-width: 95%;
}
.price{
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--accent-color-3);
    padding:10px;
    width:60%
}
#filter{
    max-width:100%;
    overflow-x: scroll;
    scrollbar-width: none; 
}
#filter::-webkit-scrollbar {
    display: none;
}
#filterIcons {
    width:1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filterButtons{
    padding:10px;
    background-color: var(--accent-color-3);
    border-style: solid;
    border-radius: 20px;
    width:100px;
    margin:1%
}
.selected{
    background-color: var(--accent-color-1);
}
